/* Top section */
#homeApp {
    background-image: url(../img/bg.jpg);
    background-position: 0 13%;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

.title {
    padding-top: 3vh;
}

.bigTitle, h1.bigTitle, h2.bigTitle, h3.bigTitle, .title h2 {
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.5);
}

.imgWrapperBottom img {
    opacity: 0;
    animation: surf 0.8s ease-out 0.5s forwards;
}

.top-panel {
    padding-top: 8.5rem !important;
}

@keyframes surf {
    0% {
        opacity: 0;
        transform: translate(10vw, -3vw);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    .top-panel {
        padding-top: 13.5rem !important;
    }
}


@media (max-width: 767px)
{
    #homeApp {
        background-position: right bottom;
        padding-bottom: 3rem;
        background-size: cover;
    }

    .top-panel {
        padding-top: 12rem !important;
    }

    .imgWrapperBottom img {
        opacity: 0;
        animation: surf 0.8s ease-out 0.5s forwards;
        display: none;
    }
}

/* Quote */
.ctaBox blockquote {
    font-size: 1.65em;
}

/* Shitty Pretty Photo plugin fixes */
.pp_details {
    display: none;
}
.pp_content_custom {
    min-height: 50px;
    background-color: white;
}
.pp_expand {
    display: none !important;
}

/* Tricks list */
nav#filter a {
    margin: 2px 0;
}
.trick-post-section {
    position: relative;
    max-height: 50vh;
    overflow-y: auto !important;
}

.trick-post-section .trick-tags a {
    background-color: #EEE;
    color: #555;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}
.trick-post-section .trick-tags a:hover, .trick-post-section .trick-tags a.current {
    background-color: #44BCDD;
    color: #fff;
}

@media (min-width: 1200px)
{
    .isotopeItem.span4 {
        width: 365px;
    }
}

.x0p.default .content {
    padding: 0;
}
.isotopeItem .deleteBadge {
    background-color: #e9322d;
    cursor: pointer;
}
.isotopeItem .newBadge + .deleteBadge {
    top: 70px;
}
.isotopeItem .editBadge {
    background-color: #54dd44;
    cursor: pointer;
    top: 70px;
}
.isotopeItem .newBadge + .deleteBadge + .editBadge {
    top: 135px;
}
.isotopeItem .deleteBadge i, .isotopeItem .editBadge i {
    color: inherit;
    font-size: 25px;
    line-height: 2em;
}
.isotopeItem .hoverBadge {
    opacity: 0;
    transition: opacity 0.5s;
}
.isotopeItem:hover .hoverBadge {
    opacity: 1;
}

@media (max-width: 767px)
{
    .trick-post-section {
        max-height: none;
        overflow-y: visible !important;
        max-width: 400px;
        margin: auto;
    }
}

/* Add trick block */
.add-trick-block {
    margin-top: 6em;
    margin-bottom: 2em;
}
.add-trick-block .span12 {
    text-align: center;
}
.add-trick-block blockquote {
    margin-bottom: 1em;
}
.add-trick-block a {
    float: none;
}
