/* Top section */
#homeApp {
    background-image: url(../img/bg.jpg);
    background-position: 0 13%;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

.title {
    padding-top: 3vh;
}

.bigTitle, h1.bigTitle, h2.bigTitle, h3.bigTitle, .title h2 {
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.5);
}

.imgWrapperBottom img {
    opacity: 0;
    animation: surf 0.8s ease-out 0.5s forwards;
}

.top-panel {
    padding-top: 8.5rem !important;
}

@keyframes surf {
    0% {
        opacity: 0;
        transform: translate(10vw, -3vw);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* Quote */
.ctaBox blockquote {
    font-size: 1.65em;
}

/* Shitty Pretty Photo plugin fixes */
.pp_details {
    display: none;
}
.pp_content_custom {
    min-height: 50px;
    background-color: white;
}
.pp_expand {
    display: none !important;
}

/* Tricks list */
.trick-post-section {
    position: relative;
}

.trick-post-section {
    max-height: 80vh;
    overflow-y: auto !important;
}

.trick-post-section .trick-tags a {
    background-color: #EEE;
    color: #555;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}
.trick-post-section .trick-tags a:hover, .trick-post-section .trick-tags a.current {
    background-color: #44BCDD;
    color: #fff;
}

@media (min-width: 1200px)
{
    .isotopeItem.span4 {
        width: 365px;
    }
}

.isotopeItem .deleteBadge {
    background-color: #e9322d;
    cursor: pointer;
}

.x0p.default .content {
   padding: 0;
}
.isotopeItem .newBadge + .deleteBadge {
    top: 70px;
}
.isotopeItem .deleteBadge i {
    color: inherit;
    font-size: 25px;
    line-height: 2em;
}

/* Add trick block */
.add-trick-block {
    margin-top: 6em;
    margin-bottom: 2em;
}
.add-trick-block .span12 {
    text-align: center;
}
.add-trick-block blockquote {
    margin-bottom: 1em;
}
.add-trick-block a {
    float: none;
}
