<div class="collection-subform">
    <div class="file-type-container">
        <input type="file" name="manage_trick_form[plainPictures][]" id="image___name__" style="display: none;">
        <div class="file-input">
            <input type="text" class="file-text-input" disabled>
            <label class="btn" for="image___name__">Fichier</label>
        </div>
    </div>
</div>