<div class="collection-subform">
    <div class="url-type-container">
        <input type="url" name="manage_trick_form[videos][]" id="video___name__" placeholder="format : https://youtu.be/..." class="form-control">
    </div>
</div>