<html>
<head>
    <title>SnowTricks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#ffffff">

<table width="600" border="0" cellpadding="0" cellspacing="0" align="left">
    <tr>
        <td style="font-family:Arial, Helvetica, sans-serif;">
            <font style="font-size: 16px;">
                Salut {{ user.pseudonym }} !<br /><br />
                Alors comme ça, on a oublié son mot de passe ?
                Si ça t'intéresse, je vends de la mémoire sur amazon.
                Nan ? Bon allez, <a href="{{ url('security_reinitialise_password', {email: user.email, token: user.reinitialisationToken}) }}">clique ici pour réinitialiser ton mot de passe</a>.<br />
                Je suis vraiment trop sympa.<br /><br />
                Ah au fait, inutile de répondre à cet e-mail. Ton message n'arriverait nul part.<br /><br />
                Allez, bisous !<br /><br />
                SnowTricks
            </font>
        </td>
    </tr>
</table>

</body>
</html>