{% extends 'AppBundle:front:layout.html.twig' %}

{% form_theme form 'AppBundle:forms:defaultFormTheme.html.twig' %}

{% block content_body %}

    <section class="slice color1 top-panel" id="contactSlice" >
        <div class="container">
            <div class="row mb40">
                <div class="span12">
                    <h1>Besoin de réinialiser ton mot de passe ?</h1>
                </div>
                <div id="contactSlide">
                    <div class="span12">

                        <div class="forgot-password-form">
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="span6 clearfix">
                                        {{ form_row(form.plainPassword.first) }}
                                    </div>
                                    <div class="span6 clearfix">
                                        {{ form_row(form.plainPassword.second) }}
                                    </div>
                                </div>

                                <button type="submit" class="btn">Confirmer la réinitialisation</button>
                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

